.background {
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.inner_background {
	width: 50%;
	margin: 0 auto;
}

button {
	padding: 5px;
}

#buttons {
	margin-top: 10px;
}


#guessArray {
	margin-bottom: 15px;
}

#formContainer {
	margin-top: 15px;
}

.dasIt {
	background-color: #A6D785;
}

.cold {
	background-color: #BBCCFF;
}

.reallyClose {
	background-color: #EE0000;
}

.warmish {
	background-color: #FF5721;
}

.realOff {
	background-color: #00F5FF;
}
